;grayscale2rgb_converter.config
; Copyright (C) antillia.com
; 2024/04/19
; This is an exaample of mini-test dataset of PanNuke MaskDataset
;On the mask_colors above, please see https://github.com/sarah-antillia/ImageMask-Dataset-PanNuke

[grayscale2rgb_converter]
image_width  = 512
image_height = 512

color_order  = "bgr"
;masks_dir   = "./PanNuke/sample_masks/"
masks_dir    = "./Grayscaled_masks/"
output_dir   = "./Colored_masks"

; R, G, B intensity for converting rgb to grayscale: CCIR 601
grayscaling  = (0.299, 0.587, 0.114)

; BT. 709
;grayscaling  = (0.2126, 0.7152, 0.0722)

mask_colors = [(0, 0, 0), ( 0, 255,  0),  (255,  0,  0),  ( 0,  0, 255),  (255, 255,  0), ( 0, 255, 255),]
classes     = ["Background", "Neoplastic cells", "Inflammatory", "Connective/Soft tissue cells","Dead Cells", "Epithelial"]   


